<div id="sidebar">
  <strong>STATS!!!</strong><br/><br/>
  Core Level: {{core.level}}<br/><br/>
  <ng-container *ngFor="let mat of invList">
    <span *ngIf="gameSvc.inv.mats[mat].unlocked"> {{gameSvc.inv.mats[mat].dispName}}: {{gameSvc.inv.mats[mat].amt}}/{{gameSvc.inv.mats[mat].max}}<br/></span>
  </ng-container>
  <br/>

  Used space: {{gameSvc.inv.usedSpace}}/{{gameSvc.inv.space}}<br/><br/>  
  Drones: {{gameSvc.inv.units.drones.count}}<br/><br/>
  diggers: {{gameSvc.inv.structs.digger.count}}<br/>
  crates: {{gameSvc.inv.structs.crates.count}}

  <br/>
  Available power: {{gameSvc.inv.power}}<br/>

  <button (click)="reInit()">reInit</button>
</div>
<div id="gameview">
  <ngx-tabset>
    <ngx-tab tabTitle="Processing Core">
      
        <app-core></app-core>
      
    </ngx-tab>
    <ngx-tab tabTitle="Construction">
      
        <app-build></app-build>
      
    </ngx-tab>
    <ngx-tab tabTitle="Research">
      
        <app-research></app-research>
      
    </ngx-tab>
    <ngx-tab tabTitle="Unit upgrades">
      
        <app-units></app-units>
      
    </ngx-tab>
    <ngx-tab tabTitle="Manufacturing">
      
        <app-manufacturing></app-manufacturing>
      
    </ngx-tab>
    <ngx-tab tabTitle="Claim new lands!">
        <p>Coming soon</p>
    </ngx-tab>
  </ngx-tabset>
</div>