<div id="sidebar">
  <strong>STATS!!!</strong><br/><br/>
  Core Level: {{core.level}}<br/>
  Raw materials: {{inventory.rawMats}}<br/>
  Drones: {{units.drones}}<br/>
  <br/>
  Available power: {{inventory.power}}<br/>
</div>
<div id="gameview">
  <ngx-tabset>
    <ngx-tab tabTitle="Processing Core">
      
        <app-core [inv]="inventory" [core]="core" [unit]="units"></app-core>
      
    </ngx-tab>
    <ngx-tab tabTitle="Construction">
      
        <app-build></app-build>
      
    </ngx-tab>
    <ngx-tab tabTitle="Research">
      
        <app-research></app-research>
      
    </ngx-tab>
    <ngx-tab tabTitle="Unit upgrades">
      
        <app-units></app-units>
      
    </ngx-tab>
    <ngx-tab tabTitle="Manufacturing">
      
        <app-manufacturing></app-manufacturing>
      
    </ngx-tab>
  </ngx-tabset>
</div>